{% extends 'base.html' %}
{% load static %}

{% block title %}Recuperar Contraseña - ChaosCompany{% endblock %}

{% block content %}
<div class="login-container">
    <div class="form-card">
        <div class="form-card-inner">
            <form method="post" class="form-container">
                {% csrf_token %}
                <p class="form-heading">Recuperar Contraseña</p>
                
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                <div class="form-field">
                    <svg viewBox="0 0 16 16" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="form-input-icon">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                    <input type="email" id="email" name="email" class="form-input-field" placeholder="Tu correo electrónico" required>
                </div>
                
                <div class="form-buttons">
                    <button type="submit" class="form-button-primary">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enviar enlace&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
                
                <a href="{% url 'login' %}" class="form-button-link">Volver al inicio de sesión</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}