{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - ChaosCompany{% endblock %}

{% block content %}
    <header class="hero">
        <h2>Tus juegos, impulsados por la nube. Juega con el rendimiento de GeForce RTX, en cualquier lugar. Ahora en streaming con los servidores NVIDIA Blackwell RTX, disponibles.</h2>
        <a href="#" class="btn btn-primary">Descarga la App</a>
    </header>

    <section class="features">
        <h2>Un Upgrade que lo Cambia Todo</h2>
        <div class="features-grid">
            <div class="feature">
                <h3>La Potencia de GeForce RTX, Ahora en la Nube</h3>
                <p>Disfruta la potencia de una PC gaming GeForce de alto nivel: FPS al máximo, ray tracing y latencia ultra baja.</p>
            </div>
            <div class="feature">
                <h3>Transmite más de 4,000 Juegos</h3>
                <p>Transmite al instante más de 2,000 juegos favoritos listos para jugar, incluidos los éxitos AAA más populares. Accede a más de 2,200 juegos adicionales de Steam con Install-to-Play.</p>
            </div>
            <div class="feature">
                <h3>Juega en Cualquier Dispositivo</h3>
                <p>Transforma tu Mac, TV, teléfono, iPad, consola portátil y más en una potente PC para jugar.</p>
            </div>
        </div>
    </section>

    <section class="animated-carousel-section">
        <h2>Juegos en Movimiento – Explora Infinito</h2>
        <p>Mira cómo fluyen tus juegos favoritos en la nube. Animación continua con velocidades sutiles para un efecto dinámico.</p>
        <div class="animated-carousel">
            <div class="carousel-track row1">
            <div class="game-item"><img src="static/Imagenes/row1/cyberpunk.jpg" alt="Cyberpunk"><h3>Cyberpunk</h3></div>
            <div class="game-item"><img src="static/Imagenes/row1/fortnite.jpg" alt="Fortnite"><h3>Fortnite</h3></div>
            <div class="game-item"><img src="static/Imagenes/row1/valorant.jpg" alt="Valorant"><h3>Valorant</h3></div>
            <div class="game-item"><img src="static/Imagenes/row1/doom.jpg" alt="DOOM Eternal"><h3>DOOM Eternal</h3></div>
            <div class="game-item"><img src="static/Imagenes/row1/among-us.jpg" alt="Among Us"><h3>Among Us</h3></div>
            <div class="game-item"><img src="static/Imagenes/row1/the witcher3.jpg" alt="The Witcher 3"><h3>The Witcher 3</h3></div>
            </div>
            <div class="carousel-track row2">
            <div class="game-item"><img src="static/Imagenes/row2/starfield.jpg" alt="Starfield"><h3>Starfield</h3></div>
            <div class="game-item"><img src="static/Imagenes/row2/alanwake2.jpg" alt="Alan Wake 2"><h3>Alan Wake 2</h3></div>
            <div class="game-item"><img src="static/Imagenes/row2/spider man 2.jpg" alt="Spider-Man 2"><h3>Spider-Man 2</h3></div>
            <div class="game-item"><img src="static/Imagenes/row2/avatar.jpg" alt="Avatar Frontiers"><h3>Avatar Frontiers</h3></div>
            <div class="game-item"><img src="static/Imagenes/row2/wukong.jpg" alt="Black Myth Wukong"><h3>Black Myth Wukong</h3></div>
            <div class="game-item"><img src="static/Imagenes/row2/elden ring.jpg" alt="Elden Ring"><h3>Elden Ring</h3></div>
            </div>
         <div class="carousel-track row3">
    <div class="game-item"><img src="static/Imagenes/row3/god of war.jpg" alt="God of War"><h3>God of War</h3></div>
    <div class="game-item"><img src="static/Imagenes/row3/red dead.jpg" alt="Red Dead 2"><h3>Red Dead 2</h3></div>
    <div class="game-item"><img src="static/Imagenes/row3/hogwarts.jpg" alt="Hogwarts Legacy"><h3>Hogwarts Legacy</h3></div>
    <div class="game-item"><img src="static/Imagenes/row3/resident evil.jpg" alt="Resident Evil"><h3>Resident Evil</h3></div>
    <div class="game-item"><img src="static/Imagenes/row3/fifa 24.jpeg" alt="FIFA 24"><h3>FIFA 24</h3></div>
    <div class="game-item"><img src="static/Imagenes/row3/nba.jpg" alt="NBA 2K24"><h3>NBA 2K24</h3></div>
</div>
        </div>
    </section>
{% endblock %}